<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>{{!-- Used for objects --}}
        {{#with title}}
        {{fname}}
        {{lname}}
        {{/with}}

        {{!-- Used for arrays  --}}
        {{#each attrib}}
        {{fname}}
        {{lname}}
        {{/each}}

        {{{iterator attrib}}}
        {{switch 'a'}}
    </h1>

    <select id="optionsManupulation">

    </select>
</body>

</html>

<script src="./../../public/jsfiles/helperDashboard/helperDashboard.js"></script>